/* ----- BASE -------------------------------------- */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #ffffff;
    color: #434455;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.02em;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;
    letter-spacing: 0.02em;
}

.section-title {
    padding: 0 0 72px 0;
}

img, svg {
    display: block;
    max-width: 100%;
}

/* ----- COMMON ---------------------------------------- */

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    letter-spacing: 0.04em;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    margin: 0 auto;
    border: none;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404BBF
}

.card-title {
    margin-bottom: 8px;
}


/* ----- HEADER --------------------------------------- */

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.left-side {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.17;
    display: flex;
    flex-wrap: wrap;
}

.logo span {
    color: #4D5AE5;
}

.header-logo-link {
    color: #2E2F42;
    padding: 16px 0;
}

.nav-list {
    display: none;
}

.link-nav {
    font-weight: 500;
    color: #2E2F42;
    padding: 24px 0;
    position: relative;
    text-decoration: none;
}

.link-nav::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    bottom: -1px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav.current {
    color: #404BBF;
}

.link-nav.current::after {
    opacity: 1;
    bottom: -1px;
}

.link-nav:hover,
.link-nav:focus,
.link-address:hover,
.link-address:focus {
    color: #404BBF
}

.address-list {
    display: none;
}

.link-address {
    color: #434455;
    font-weight: 400;
    padding: 24px 0;
}

.link-nav,
.link-address {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
font-style: normal;
}

.mobile-menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    height: 24px;
    width: 24px;
    flex-shrink: 0;
}

.mobile-menu-icon {
    fill: #2f2f37;
}

/* ----- HERO ------------------------------------- */

.hero {
    padding: 72px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/herobackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
    background-position: center;
}

.hero-title {
    margin: 0 auto 72px;
    max-width: 216px;
    font-size: 36px;
}

/* ----- FEATURES --------------------------------- */

.card-set-features {
    display: flex;
    flex-direction: column;
     align-items: center;
     gap: 72px;
}

.card-features-icon {
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #F4F4FD;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
}


.card-features {
    width: 288px;
}

.features {
    padding: 96px 0;
}

.features-card-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
}

.features-card-text {
    font-weight: 500;
}

/* ----- TEAM ----------------------------------- */

.team {
    background-color: #F4F4FD;
    /* padding: 120px 0; */
    padding: 96px 0;
}

.card-set-team {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 72px;
}

.team-card {
    width: 264px;
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-card-fill {
    padding: 32px 16px;
}

.svg-team-social {
    fill: #f4f4fd;
}

.social-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.social-link {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404BBF;
}

.team-card-text,
.team-title,
.team-card-title {
    text-align: center;
}

/* ----- PORTFOLIO --------------------------------- */

.portfolio {
    padding: 96px 0;
}

.portfolio-title {
    text-align: center;
}

.card-set-portfolio {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.portfolio-card-fill {
    border: 1px solid #E7E9FC;
    border-top: none;
    padding: 32px 16px;
}


.portfolio-card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: 288px;
}

.portfolio-card:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card-text-wrapper {
    position: relative;
    overflow: hidden;
}

.portfolio-card-text {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .portfolio-card-text {
    transform: translateY(0);
}

/* ----- FOOTER ----------------------------------- */

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
    padding: 96px 0;
}

.logo-footer-link {
    color: #F4F4FD;
    display: inline-block;
}


.footer-text {
    min-width: 288px;
    margin-top: 16px;
}

.logo-footer {
    display: flex;
    justify-content: center;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.logo-text-footer {
    display: flex;
    max-width: 264px;
    flex-direction: column;
}

.social-media-footer {
    display: flex;
    max-width: 208px;
    flex-direction: column;
    gap: 16px;
    margin-top: 0;
}

.social-list-footer {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
}

.social-footer-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0;
    text-align: center;
}

.social-link-footer {
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31d0aa;
}

.svg-footer-social {
    fill: #f4f4fd;
}

/* SUBSCRIBE */

.subscribe {
    margin-left: auto;
}

.subscribe-title {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.subscribe-form {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
}

.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #fff;
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    color: #fff;
    outline: none;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:hover,
.subscribe-input:focus {
    border-color: #31D0AA;
}

.subscribe-input::placeholder {
    color: #fff;
    opacity: 1;
}

.subscribe-btn {
    width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #31D0AA;
}

.subscribe-icon {
    fill: #fff;
}

/*---------------------------BACKDROP---------------------------------*/

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    /* padding: 72px 24px 24px; */
    padding: 72px 16px 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* max-width: 408px;
    min-height: 584px; */
    max-width: 288px;
    min-height: 623px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-close-button {
    border-radius: 100%;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-cross {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
}

.modal-close-button:hover .modal-cross,
.modal-close-button:focus .modal-cross {
    fill: #fff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
    min-width: 256px;
    /*min-width: none; */
}

.modal-form,
.input-wrapper,
.checkbox-button-wrapper {
    display: flex;
    flex-direction: column;
}

.modal-form {
    gap: 16px;
}

.input-wrapper {
    gap: 8px;
}

.checkbox-button-wrapper {
    gap: 24px;
}

.modal-input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    /* padding-left: 38px; */
    padding-left: 34px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
    outline: none;
}

.modal-input:focus + .input-icon {
    fill: #4d5ae5;
}

.modal-input-wrapper {
    position: relative;
}

.input-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

.modal-lable {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
        flex-direction: column;
        gap: 4px;
}

.modal-input.comment-textarea {
    width: 100%;
    min-height: 120px;
    padding: 8px 16px;
    resize: none;
}

.comment-textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

.checkbox-wrapper {
    position: relative;
    display: flex;
    align-items: baseline;
}

.policy-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.policy-span {
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
    display: inline;
    white-space: nowrap;
}

.check-mark {
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    flex-shrink: 0;
}

.check-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}

.modal-check:checked + .policy-text .check-mark {
    background-color: #404BBF;
    border: none;
}

.modal-check:checked + .policy-text .check-icon {
    fill: #f4f4fd;
}

.button.submit {
    min-width: 169px;
}

/*------------MENU---------------------------------------*/

.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 250ms ease;
}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 72px 16px 40px;
}

.menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #E7E9FC;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.mobile-menu-link {
    font-size: 36px;
    font-weight: 700;
    color: #2E2F42;
}

.mobile-link.current {
    color: #404BBF;
}

.mobile-contacts {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-phone {
    font-size: 20px;
    font-weight: 600;
    color: #4D5AE5;
}

.mobile-menu-mail {
    color: #434455;
}

.menu-social-list {
    display: flex;
    gap: 40px;
    margin-top: 48px;
}

/*----------ADAPTIVE------------------------------------*/

@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }

    .address-list, .nav-list {
        display: flex;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

    .left-side {
        gap: 76px;
    }

    .header-logo-link {
        padding: 24px 0;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .address-list {
        display: flex;
        gap: 40px;
    }

    .hero {
        padding: 188px 0;
    }

    .hero-title {
        max-width: 496px;
        margin: 0 auto 48px;
    }

    .card-set-features {
        justify-content: center;
        gap: 24px;
    }

    .card-features-icon {
        display: flex;
    }

    .card-features {
        flex-basis: calc((100% - 72px) / 4);
    }

    .features {
        padding: 120px 0;
    }

    .card-set-team {
        justify-content: center;
        gap: 24px;
    }

    .portfolio {
        padding: 120px 0;
    }

    .card-set-portfolio {
        flex-wrap: wrap;
        gap: 48px 24px;
    }

    .portfolio-card {
        width: calc((100% - 48px) / 3);
    }

    .footer {
        padding: 100px 0;
    }

    .footer-text {
        max-width: 264px
    }

    .footer-content {
        flex-direction: row;
        align-items: baseline;
        gap: 0;
    }

    .logo-text-footer {
        margin-right: 120px;
    }

    .subscribe-form {
        gap: 24px;
        flex-direction: row;
    }
}